<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="HLATracker" providerName="System.Data.SqlClient" connectionString="Data Source=CSMP01PAMC08;Initial Catalog=HLATracker;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    
  </connectionStrings>
</configuration>